@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  color-scheme: light dark;
  font:
    16px/1.5 system-ui,
    'Segoe UI',
    Roboto,
    sans-serif;
}

body {
  min-height: 100svh;
}

#root {
  min-height: 100svh;
}
